@import "~bootstrap/scss/bootstrap";

$red: #d10a33;
$black: #191919;

@font-face {
  font-family: "Big Noodles";
  src: url("../fonts/big_noodle_titling.ttf");
}

h1, h2, a {
  color: $red;
}

p {
  color: white;
  //font-family: "Big Noodles";
}

body {
  background-color: $black;
}

.articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bg-dark {
  background-color: $black !important;
}

.card {
  background-color: $black;
}

.cardGame {
  color: $red;
  max-width: 20em;
  margin: 2em;
}

.cardGame-imgContainer {
  max-height: 30em;
  overflow: hidden;
}

.cardGame-imgContainer img {
  height:100%;
}

.card-text {
  margin-bottom: 0.25rem;
}

.page-list {
  display: flex;
  flex-direction: column;
}

.small {
  font-size: 0.5rem;
}
/*.cardGame-imgContainer:hover img {
  opacity: 0.2;
}*/
